# For Arxiv Scraping
arxiv
arxivscraper

# For Arxiv Processing
tex2py

# Utils
matplotlib
pandas
click

numpy
#date parsing
dateparser 

# This is For Arxiv Mining
expiringdict
rpyc
elasticsearch
elasticsearch_dsl
luqum
